.card {
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}

body {
  height: 100vh;
}

.col {
  padding: 5px 5px;
}

#memory-deck {
  padding-top: 1rem;
}

.navbar-brand {
  font-weight: bold;
  font-size: 26px;
}

